head,body{
	margin:0;
	padding:0;
	height:100%;
}

#logotipo{
	height:85px;
	width:300px;
	background-image: url(../images/logo_monkeds3.png);
	left:50%;
	top:50%;
	margin-top:-40px;
	margin-left:-150px;
	position:absolute;
}