head,body{
	margin:0;
	padding:0;
	height:100%;
}

#logotipo{
	height:90px;
	width:320px;
	background-image: url(../images/logo_monkeds2.png);
	left:50%;
	top:50%;
	margin-top:-45px;
	margin-left:-160px;
	position:absolute;
}